{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center vh-100 text-center">
      <h1>Даже не знаю, о чем нам с вами поговорить</h1>
    <h1></h1>
    <p> Вот зачем люди ведут блоги?<br>Кому-то действительно есть что сказать другим людям, наверное.<br>
    Говорят, что есть люди, которые ведут блог больше для себя как дневник.<br>
    Ну, не знаю, может и есть такие, но для меня дневник это личное, а не публичное.<br>
    А может они просто пытаются на этом заработать денег? </p>
    <!-- Добавляем ссылку на главную страницу -->
    <a href="{{ url_for('index') }}" class="btn btn-primary">Вернуться на Главную страницу</a>
  </div>
{% endblock %}