{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center vh-100 text-center">
      <h1>Контакты это важно</h1>
    <h1>Выбирайте только самые надежные</h1>
    <p class="message fs-4"> e-mail: kdm232006@rambler.ru | Телефон: +7 (925) 021-50-85</p>
    <!-- Добавляем ссылку на главную страницу -->
    <a href="{{ url_for('index') }}" class="btn btn-primary">Вернуться на Главную страницу</a>
  </div>
{% endblock %}